<p id="notice"><%= notice %></p>

<h1>
  <%= Brand.find(@sneaker.brand_id).name %>
</h1>

<h2>
  <%= @sneaker.model %>
</h2>

<p>
  <strong>Sex:</strong>
  <%= @sneaker.sex %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sneaker.price %>
</p>

<p>
  <%= image_tag @sneaker.image %>
</p>

<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%= link_to 'Back', sneakers_path %>
